@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  /* Primary */
  --scissorsGradient: linear-gradient (0deg,hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --paperGradient: linear-gradient(0deg, hsl(230, 89%, 62%),hsl(230, 89%, 65%));
  --rockGradient: linear-gradient(0deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --lizardGradient: linear-gradient(0deg, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --cyan: linear-gradient(0deg, hsl(189, 59%, 53%), hsl(189, 58%, 57%));

  /* Neutral */

  --darkText: hsl(229, 25%, 31%);
  --scoreText: hsl(229, 64%, 46%);
  --headerOutline: hsl(217, 16%, 45%);

  /* Background */

  --radialGradient: radial-gradient(circle at 50% 0%, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

* {
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  height: auto;
  width: auto;
  overflow-x: hidden;
}

body {
  font-family: "Barlow Semi Condensed", Helvetica, sans-serif;
  min-height: 100vh;
  color: var(--headerOutline);
  font-size: 16px;
  background-image: var(--radialGradient);
  overflow-x: hidden;
}

.game {
  width: 100%;
  height: 100vh;
  padding: 20px;
  flex: 1;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}
.game__header {
  border: 5px solid var(--headerOutline);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  border-radius: 10px;
  position: absolute;
  top: 5px;
}

.game__header__logo {
  background-image: url(/images/logo.svg);
  background-size: contain;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
}

.game__header--score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 25px;
}

.game__header--score--title {
  color: var(--scoreText);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 20px;
}

.game__header--score--number {
  color: var(--darkText);
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 15px;
}

/* Reset button */
.reset__button{
  padding: 10px;
  border-radius: 10px;
  width: auto;
  text-transform: uppercase;
  position: absolute;
  top: 150px;
  right: 0;
}

/* game block */
.game__block{
  display: none;
}

.game__block.active {
  width: 100%;
  /* height: 90%; */
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: repeat(2, 240px);
  /* row-gap: 1rem; */
  background: url("/images/bg-triangle.svg") no-repeat center;
  background-size: 80%;
  position: absolute;
  top:120px;
  /* left: 0; */
  max-width: 400px;
}

.choice-1 {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  
}


.choice-2 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}


.choice-3 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

/* .game__block--wrapper {
  position: relative;
  
} */


.game__block--choice {
  /* border: 3px solid yellow; */
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#rock {
  background-image: url(/images/icon-rock.svg);
  box-shadow: 0px 0px 0px 10px hsl(349deg 70% 56%);
  /* top: -36px;
  left: -18px;
  position: absolute; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--rockGradient);
  background-color: white;
  cursor: pointer;
}

#scissors {
  background-image: url(/images/icon-scissors.svg);
  /* position: absolute;
  top: -36px;
  right: -18px; */
  box-shadow: 0px 0px 0px 10px hsl(40deg 84% 53%);
  border: 3px solid;
  border-color: var(--scissorsGradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffff;
  cursor: pointer;
  
}

#paper {
  background-image: url(/images/icon-paper.svg);
  /* position: static; */
  /* bottom: 0px;
  right: 0; */
  box-shadow: 0px 0px 0px 10px hsl(230deg 89% 65%);
  border: 3px solid;
  border-color: var(--paperGradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffff;
  cursor: pointer;
}


/* Game pick */


.game__block__pick{
  display: none;
}

.game__block__pick.active {
  /* width: 100%; */
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(1, 250px);
  position: absolute;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-items: center;
}


.game__block__pick--player{
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}
.game__block__pick--comp{
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  animation: fadein 1s ease-in alternate;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.game__block__pick--player,
.game__block__pick--comp{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.game__block__pick--player h3,
.game__block__pick--comp h3{
  text-align: center;
  margin-bottom: 40px;
  color:white;
  text-transform: uppercase;
}

.game__block__pick__result {
  display: none;
} 
.game__block__pick__result.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  /* top: 250px; */
  /* animation: slidein 1s ease-in-out; */
  /* transform: translateY(-150px); */
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.game__block__pick__result h3 {
  text-align: center;
  margin: 70px;
  color:white;
  text-transform: uppercase;
}

.game__block__pick__result__button {
  padding: 10px;
  border-radius: 10px;
  width: auto;
  text-transform: uppercase;
}

.game__block__pick__result__button:hover{
  color: red;
}
/*footer*/

.game__rules {
  position: absolute;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  align-items: center;
  flex: 1;
}
#game__rules--button {
  width: 97px;
  height: 43px;
  border-radius: 10px;
  border: 2px solid white;
  padding: 2px;
  background-color: transparent;
  color: white;
  position: absolute;
  bottom: 20px;
}

/*modal*/

.game__rules--modal {
  display: none;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

.game__rules--modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.modal__rules__title {
  color: var(--darkText);
  text-transform: uppercase;
  text-align: start;
  width: 100%;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.modal__rules__title::after {
  content: url(/images/icon-close.svg);
  position: absolute;
  bottom: 40px;
  cursor: pointer;
}

@media (min-width: 950px) {
  .game {
    width: 50%;
  }
  .game__header {
    width: 100%;
  }

  
.game__block.active {
  width: 100%;
  background: url("/images/bg-triangle.svg") no-repeat center/50%;
  position: absolute;
  
  top:200px;
  max-width: 100%;
}


.game__block__pick.active {
  /* width: 100%; */
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 250px);

}
  /*modals desktop*/

  #game__rules--button {
    position: absolute;
    bottom: 60px;
    right: 350px;
  }

  .game__rules--modal {
    width: auto;
    height: auto;
    padding: 30px;
  }

  .modal__rules__title {
    justify-content: space-between;

    padding: 30px;
    pointer-events: none;
  }

  .modal__rules__title::after {
    top: 70px;
    right: 60px;
    pointer-events: all;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
