@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  /* Primary */
  --scissorsGradient: linear-gradient(#EC9E0E, #ECA922);
  --paperGradient: linear-gradient( #4865F4,#5671F5);
  --rockGradient: linear-gradient(#DC2E4E, #DD405D);
  --lizardGradient: linear-gradient(#834FE3, #8C5DE5);
  --cyan: linear-gradient(#40B9CE, #40B9CE);

  /* Neutral */

  --darkText: hsl(229, 25%, 31%);
  --scoreText: hsl(229, 64%, 46%);
  --headerOutline: hsl(217, 16%, 45%);

  /* Background */

  --radialGradient:  radial-gradient( #1F3756, #141539);
}

* {
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  height: auto;
  width: auto;
  overflow-x: hidden;
}

body {
  font-family: "Barlow Semi Condensed", Helvetica, sans-serif;
  min-height: 100vh;
  color: var(--headerOutline);
  font-size: 16px;
  background: var(--radialGradient);
  overflow-x: hidden;
}

.game {
  width: 100%;
  height: 100vh;
  padding: 20px;
  flex: 1;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}
.game__header {
  border: 5px solid var(--headerOutline);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  border-radius: 10px;
  position: absolute;
  top: 5px;
}

.game__header__logo {
  background-image: url(/images/logo.svg);
  background-size: contain;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
}

.game__header--score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 25px;
}

.game__header--score--title {
  color: var(--scoreText);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 20px;
}

.game__header--score--number {
  color: var(--darkText);
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 15px;
}

/* Reset button */
.reset__button{
  padding: 10px;
  border-radius: 10px;
  width: auto;
  text-transform: uppercase;
  position: absolute;
  top: 150px;
  right: 0;
}

/* game block */
.game__block{
  display: none;
}

.game__block.active {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3 , 125px);
  grid-template-rows: repeat(2, 240px);
  background: url("/images/bg-triangle.svg") no-repeat center;
  background-size: 80%;
  position: absolute;
  top:120px;
  max-width: 400px;
}

.choice-1 {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  
}


.choice-2 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}


.choice-3 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.game__block--choice {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.img-wrapper img {
  width: 88%;
  transform: translate(10px, 10px);
  padding: 10px;
}

.img-wrapper{
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-color: #ffff;
}
.rock,
#rock{
  box-shadow: 0px 0px 0px 10px hsl(349deg 70% 56%);
  border-radius: 50%;
    cursor: pointer;
    width: 113px;
    height: 113px;
}

.scissors,
#scissors{
  box-shadow: 0px 0px 0px 10px hsl(40deg 84% 53%);
    border-radius: 50%;
    cursor: pointer;
    width: 113px;
    height: 113px;
}

.paper,
#paper {
  box-shadow: 0px 0px 0px 10px hsl(230deg 89% 65%);
  border-radius: 50%;
    cursor: pointer;
    width: 113px;
    height: 113px;
}

.choice-1{
  justify-content: flex-end;
}
.choice-2{
  justify-content: flex-start;
}


/* Game pick */


.game__block__pick{
  display: none;
}

.game__block__pick.active {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 250px);
  position: absolute;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-items: center;
}


.game__block__pick--player{
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}
.game__block__pick--comp{
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  
}

.game__block__pick--comp::before{
  content: '';
  background: #131336;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -2;
}

.comp-fadein{
  animation: fadein 1s ease-in alternate;
  
} 

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.game__block__pick--player,
.game__block__pick--comp{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}

.game__block__pick__playerblock,
.game__block__pick__compblock {
  height: 10rem;
}
.game__block__pick__playerblock h3,
.game__block__pick__compblock h3{
  text-align: center;
  color:white;
  text-transform: uppercase;  
}

.game__block__pick__result {
  display: none;
} 
.game__block__pick__result.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 150px;  
}

.effect::before{
  content: "";
    background: radial-gradient(#2C3B5A 38%, #293857 38% 50%, #233455 50% 100%);
    z-index: -3;
    border-radius: 50%;
    position: absolute;
    margin: 1.5rem;
    width: 22rem;
    height: 22rem;
    animation: fadein 1s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
    
  }
  100% {
    opacity: .8;
  }
}

.game__block__pick__result h3 {
  text-align: center;
  margin: 30px;
  color:white;
  text-transform: uppercase;
  font-size: 3rem;
}

.game__block__pick__result__button {
  padding: 10px;
  border-radius: 10px;
  width: auto;
  text-transform: uppercase;
}

.game__block__pick__result__button:hover{
  color: red;
}
/*footer*/

.game__rules {
  position: absolute;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  align-items: center;
  flex: 1;
}
#game__rules--button {
  width: 97px;
  height: 43px;
  border-radius: 10px;
  border: 2px solid white;
  padding: 2px;
  background-color: transparent;
  color: white;
  position: absolute;
  bottom: 20px;
}

/*modal*/

.game__rules--modal {
  display: none;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

.game__rules--modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.modal__rules__title {
  color: var(--darkText);
  text-transform: uppercase;
  text-align: start;
  width: 100%;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.modal__rules__title::after {
  content: url(/images/icon-close.svg);
  position: absolute;
  bottom: 40px;
  cursor: pointer;
}

@media(min-width:768px){
  .game__block.active {
    width: 100%;
    background: url("/images/bg-triangle.svg") no-repeat center/55%;
    position: absolute;
    grid-template-columns: repeat(3 , 1fr);
    top:200px;
    max-width: 100%;
  }
  /* .game__block--choice {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  } */
  
.img-wrapper{
  width: 163px;
  height: 163px;
  border-radius: 50%;
  background-color: #ffff;
}
.rock,
#rock,
.scissors,
#scissors,
.paper,
#paper {
    width: 146px;
    height: 146px;
}
}

@media (min-width: 950px) {
  .game {
    width: 50%;
  }
  .game__header {
    width: 100%;
  }

  
.game__block.active {
  width: 100%;
  background: url("/images/bg-triangle.svg") no-repeat center/50%;
  position: absolute;
  grid-template-columns: repeat(3 , 1fr);
  top:200px;
  max-width: 100%;
}


.game__block__pick.active {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 250px);

}
  /*modals desktop*/

  #game__rules--button {
    position: absolute;
    bottom: 60px;
    right: 350px;
  }

  .game__rules--modal {
    width: auto;
    height: auto;
    padding: 30px;
  }

  .modal__rules__title {
    justify-content: space-between;

    padding: 30px;
    pointer-events: none;
  }

  .modal__rules__title::after {
    top: 70px;
    right: 60px;
    pointer-events: all;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
