@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  /* Primary */
  --scissorsGradient: linear-gradient (hsl(39, 89%, 49%) to hsl(40, 84%, 53%));
  --paperGradient: linear-gradient(hsl(230, 89%, 62%) to hsl(230, 89%, 65%));
  --rockGradient: linear-gradient(hsl(349, 71%, 52%) to hsl(349, 70%, 56%));
  --lizardGradient: linear-gradient(hsl(261, 73%, 60%) to hsl(261, 72%, 63%));
  --cyan: linear-gradient(hsl(189, 59%, 53%) to hsl(189, 58%, 57%));

  /* Neutral */

  --darkText: hsl(229, 25%, 31%);
  --scoreText: hsl(229, 64%, 46%);
  --headerOutline: hsl(217, 16%, 45%);

  /* Background */

  --radialGradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

* {
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  height: auto;
  width: auto;
  overflow-x: hidden;
}

body {
  font-family: "Barlow Semi Condensed", Helvetica, sans-serif;
  min-height: 100vh;
  color: var(--headerOutline);
  font-size: 16px;
  background: var(--radialGradient);
  overflow-x: hidden;
}

.game {
  width: 80%;
  height: 100vh;
  padding: 20px;
  flex: 1;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.game__header {
  border: 5px solid var(--headerOutline);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  border-radius: 10px;
}

.game__header__logo {
  background-image: url(/images/logo.svg);
  background-size: contain;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
}

.game__header--score {
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--lizardGradient);
  border-radius: 5px;
  padding: 25px;
}

.game__header--score--title {
  color: var(--scoreText);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 20px;
}

.game__header--score--number {
  color: var(--darkText);
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 15px;
}

/* game block */

.game__block {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game__block--wrapper {
  position: relative;
}

.game__block--wrapper::before {
  content: url(/images/bg-triangle.svg);
  /* background-repeat: no-repeat; */
}
.game__block--choice {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffff;
}

#rock {
  background-image: url(/images/icon-rock.svg);
  box-shadow: 0px 0px 0px 10px hsl(349deg 70% 56%);
  top: -36px;
  left: -18px;
  position: absolute;
}

#scissors {
  background-image: url(/images/icon-scissors.svg);
  position: absolute;
  top: -36px;
  right: -18px;
  box-shadow: 0px 0px 0px 10px hsl(40deg 84% 53%);
}

#paper {
  background-image: url(/images/icon-paper.svg);
  position: absolute;
  bottom: 0px;
  right: 36%;
  box-shadow: 0px 0px 0px 10px hsl(230deg 89% 65%);
}

/*footer*/

.game__rules{
  position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    align-items: center;
}
#game__rules--button {
  width: 97px;
    height: 43px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 2px;
    background-color: transparent;
    color: white;
    position: absolute;
    bottom: 20px;
    /* left: 50%; */
}

/* .game__rules__button--modal {
  color: whitesmoke;
  border: 3px solid var(--headerOutline);
  border-radius: 8px;
  padding: 10px 35px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
} */


/*modal*/

.game__rules--modal {
  display: none;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: 50vh;
  overflow: auto;
  background-color: white;
}

  /* .game__rules--modal.show {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  } */

/* .modal__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
  padding: 25px;
}

.modal__title__flex {
  color: var(--darkText);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  order: 1;
}

.icon__flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 3;
}

.rule__flex {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  order: 2;
}

.rule__svg {
  display: block;
  width: fit-content;
  margin: 0 auto;
} */

@media (min-width: 950px) {
  .game {
    width: 50%;
  }
  .game__header {
    width: 100%;
  }

  .game__block--choice {
    width: 100px;
    height: 100px;
  }
  .game__block--wrapper {
    /* width: 44%; */
    background-size: contain;
  }

  /*modals desktop*/

  #game__rules--button {
    position: absolute;
    bottom: 20px;
    right: 0%;
  }

.game__rules--modal {
  width: auto;
  padding: 50px;
}

  /* .modal__content {
    width: 30%;
    min-width: 350px;
    height: auto;
    border-radius: 5px;
  }
  .modal__title__flex {
    width: 80%;
    text-align: left;
  }

  .icon__flex {
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    order: 2;
  }

  .rule__flex {
    order: 3;
  } */
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
